body {
    font-family: 'Nunito', sans-serif;
    max-width: 800px;
    padding: 20px;
    overflow-x: scroll;
    display: flex; 
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    padding:  white;
}

.logo {
    max-width: 150px;
    float: right;
    position: relative;
    right: 0;
}

h1 {
    font-family: 'Graduate', cursive;
    max-width: 800px;
    color: white;
    background-color: #00265B;
}